  html {
    position: relative;
    min-height: 100%;
  }

  body{
    font-family: 'Titillium Web', sans-serif;
  }

  .jumbotron{
/*    padding: 15% 0;*/
    margin: 10% 0;
    height: 100%;
  }


  footer{
/*    margin-top: -15%;*/
    color: rgb(0,172,200);
    font-size: 20px;
    background-color: rgb(253,130,4);

    position: absolute;
    bottom: 0;
    min-width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 10%;

  }

  .navbar{
    background-color: rgb(253,130,4);
  }

  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: rgb(0,172,200);
  }